# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\garbage\AnnotationsTorture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
